/* Global styles for the site */
body {
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: #333;
    color: #bebebe;
    margin: 0;
    padding: 10px;
    text-align: left;
}
a, a:visited {
    color: #4caf50;
    text-decoration: none;
}
a:active, a:hover {
    text-decoration: underline;
}
h1, h2 {
    font-size: 1.25em;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: #e1e1e1;
}
h2 {
    font-size: 1em;
}
ul {
    margin: 0 0 0 25px;
    padding: 0;
}
ul.no-style {
    list-style-type: none;
}

/* Single element styles */
#header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#footer {
    margin-top: 10px;
    font-size: 0.9em;
    color: #9e9e9e;
}
#header-logo {
    vertical-align: middle;
    margin-right: 10px;
}
#header-logo img {
    height: 60px;
    width: auto;
}
#header-title .title {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
}
#header-title .subtitle {
    font-size: .9em;
    color: #6d6d6d;
    font-style: italic;
    margin: 0;
}
#main {
    padding: 0 10px;
}

/* Layout and structure */
.center-content {
    max-width: 900px;
    margin: 0 auto;
}
.divider {
    border-top: 1px solid #555;
    margin: 0;
    padding: 0;
}
.page-section {
    margin-bottom: 40px;
}
.column {
    float: left;
    max-width: 400px;
    padding: 0 20px 20px 0;
}
.nav-menu {
    margin: 5px 0 20px 0;
}
.nav-menu a {
    margin-right: 15px;
}
.nav-menu a:hover {
    text-decoration: underline;
}

/* Utility classes */
.hide {
    display: none;
}
.material-symbols-outlined {
    vertical-align: text-bottom;
}
.inline-block {
    display: inline-block;
}
.clear {
    clear: both;
}

/* Form styles */
.form-section {
    margin-bottom: 20px;
}
.form-section label {
    display: block;
    margin-bottom: 5px;
}
.form-section input[type="text"], .form-section input[type="number"], .form-section input[type="email"], .form-section textarea, .form-section select {
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
    width: 100%;
}
.form-section .note {
    font-size: 0.8em;
    color: #9e9e9e;
}
form button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form button[type="submit"]:hover {
    background-color: #45a049;
}
form button[type="submit"] .spinner {
    /* Size and shape */
    width: 8px;
    height: 8px;
    border-radius: 50%;

    /* The track (light gray) and the moving indicator (blue) */
    border: 4px solid #358a38;
    border-top-color: #ffffff;

    /* Smooth infinite rotation */
    animation: spin 1s linear infinite;
}

/* Pure CSS Spinner */
.loading-spinner {
  /* Size and shape */
  width: 48px;
  height: 48px;
  border-radius: 50%;
  
  /* The track (light gray) and the moving indicator (blue) */
  border: 8px solid #6f7787;
  border-top-color: #4b4e55;
  
  /* Smooth infinite rotation */
  animation: spin 1s linear infinite;
}

/* Keyframe definition to rotate the element 360 degrees */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}